* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  background-color: #1f1f1f;
  padding: 30px;
  border-radius: 9px;
  width: 300px;
  text-align: center;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin-bottom: 24px;
}

h2 {
  color: white;
  font-size: 20px;
  margin-bottom: 8px;
}

h3 {
  color: #c5f82a;
  font-size: 12px;
  margin-bottom: 24px;
}

.bio {
  color: white;
  font-size: 12px;
  margin-bottom: 24px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link-btn {
  color: white;
  background-color: #333333;
  text-decoration: none;
  font-size: 12px;
  padding: 14px;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.5s;
}

.link-btn:hover {
  background-color: #c5f82a;
  color: #000000;
}
